<div class="content">
	<div class="text">
		<h2>Следите за нашими новостями</h2>
		<p>
			Подписывайтесь на <span>@conquest_watch</span> в соцсетях и узнавайте о
			новинках и акциях первыми.
		</p>
		<div class="socials">
			<div class="socials__instagram item">
				<a href="#">@@include('./Socials/instagram-icon.html')</a>
			</div>
			<div class="socials__facebook item">
				<a href="#">@@include('./Socials/facebook-icon.html')</a>
			</div>
			<div class="socials__twitter item">
				<a href="#">@@include('./Socials/twitter-icon.html')</a>
			</div>
		</div>
	</div>
	<div class="picture-holder">
		<div class="small-1">
			<img src="./assets/images/photo_banner_socials_1.png" alt="Часы" />
		</div>
		<div class="small-2">
			<img src="./assets/images/photo_banner_socials_2.png" alt="Часы" />
		</div>
		<div class="big">
			<img src="./assets/images/photo_banner_socials_3.png" alt="Часы" />
		</div>
	</div>
</div>
