<div class="content">
	<div class="cta">
		<h1>Супер кресло</h1>
		<p class="text">
			Текст акции всегда отражает суть, а не просто болтовню, поэтому
			внимательнее
		</p>
		<a class="more-btn" href="#">Подробнее</a>
	</div>
	<!-- <div class="picture-holder"> -->
	<picture>
		<source
			media="(max-width: 600px)"
			srcset="./assets/images/first-screen-chair-mob.png"
		/>
		<source
			media="(min-width: 601px)"
			srcset="./assets/images/first-screen-chair.png"
		/>
		<img src="./assets/images/first-screen-chair.png" alt="Супер кресло" />
	</picture>
	<!-- </div> -->
</div>
