<div class="content">
	<div class="picture-holder">
		<img src="./assets/images/photo_banner_quality.png" alt="Часы" />
	</div>
	<div class="text">
		<h2>Подлинное качество</h2>
		<p>
			Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие
			швейцарские часы — это предмет гордости и престижа.
		</p>
		@@include('../../CatalogBtn/CatalogBtn.html')
	</div>
</div>
<div class="pagination">
	<span class="pagination__arrow prev">
		<img src="./assets/icons/arrow.svg" alt="Prev" />
	</span>
	<span class="pagination__counter">01</span>
	<span class="pagination__arrow next">
		<img src="./assets/icons/arrow.svg" alt="Next" />
	</span>
</div>
