<div class="content">
	<div class="cta">
		<div class="heading">
			<div class="line">
				<span></span>
				<h1>Весна/Лето 2019</h1>
			</div>
			<h3>Коллекция</h3>
		</div>
		<div class="text">
			Швейцарские часы в наличии в Москве и с доставкой по всему миру
		</div>
		@@include('../../components/CatalogBtn/CatalogBtn.html')
	</div>
	<div class="picture">
		<div class="semicircle">
			<img src="./assets/images/firstscreen-semicircle.svg" alt="Semicircle" />
		</div>
		<div class="picture-container">
			<div class="price">
				<span>22 000 ₽</span>
				<span class="price__line"></span>
			</div>
			<div class="picture-holder">
				<img src="./assets/images/watch_main.png" alt="Часы Rado" />
			</div>
			<div class="diameter">
				<span class="diameter__line"></span>
				<span>28 мм диаметр</span>
			</div>
		</div>
	</div>
</div>
