<div class="content">
	<div class="banner banner_email">
		<div class="text-block">
			<h3>Получайте бонусы и подарки</h3>
			<p class="text">
				Каждый месяц разыгрываем <br />
				10 000 рублей для наших клиентов
			</p>
			<div class="wrapper-email normal">
				<input class="email-input" type="email" placeholder="Введите e-mail" />
				<span></span>
			</div>
		</div>
		<img src="./assets/icons/envelope.svg" alt="Письмо" />
	</div>
	<div class="banner banner_map">
		<div class="text-block">
			<h3>Заходите к нам</h3>
			<p class="text">
				Более 300 магазинов <br />
				по всей России
			</p>
			<button class="map-btn">Карта магазинов</button>
		</div>
		<img src="./assets/icons/truck.svg" alt="Грузовик" />
	</div>
</div>
