<footer class="footer">
	<div class="content">
		<div class="column">
			<div class="column__title logo">
				<a href="/">
					<img src="./assets/icons/logo-footer.svg" alt="Logo" />
					<span>CONQUEST</span>
				</a>
			</div>
			<ul>
				<li><a href="tel:+74994504797">8 (499) 450-47-97</a></li>
				<li>
					<a href="mailto:info@conquest.watch.ru">info@conquest.watch.ru</a>
				</li>
			</ul>
		</div>
		<div class="column">
			<div class="column__title">о компании</div>
			<ul>
				<li><a href="#">Наши магазины</a></li>
				<li><a href="#">Вакансии</a></li>
				<li><a href="#">Сертификаты</a></li>
				<li><a href="#">Отзывы</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column__title">покупателям</div>
			<ul>
				<li><a href="#">Каталог товаров</a></li>
				<li><a href="#">Как заказать?</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Корпоративным клиентам</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column__title">оплата и доставка</div>
			<ul>
				<li><a href="#">Способы оплаты</a></li>
				<li><a href="#">Время доставки</a></li>
				<li><a href="#">Гарантии и ремонт</a></li>
				<li><a href="#">Возврат и компенсация</a></li>
			</ul>
		</div>
	</div>
</footer>
